body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#header
{border-radius:5px;
height:10em;
width:80em;
background-color:yellow;}
#left
{border-radius:5px;
height:60em;
width:10em
background-color:blue;}
#right
{border-radius:5px;
height:60em;
width:10em;
background-color:blue;}
#footer
{border-radius:5px;
height:10em;
width:80em;
background-color:orange;}
